/* Write CSS here */
.total-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .total-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  }
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}

@media screen and (min-width: 992px) {
  .stopwatch-container {
    align-items: flex-start;
    margin-left: 160px;
  }
}

.heading {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 500;
  color: #333333;
}

@media screen and (min-width: 992px) {
  .heading {
    font-size: 65px;
  }
}

.timer-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  padding: 32px;
  box-shadow: 0px 4px 40px rgba(23, 31, 70, 0.16);
  border-radius: 10px;
}

.timer {
  display: flex;
  align-items: center;
}

.timer-image {
  margin-right: 10px;
}

.heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  color: #333333;
}

.stopwatch-timer {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 500;
  color: #333333;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .stopwatch-timer {
    font-size: 65px;
  }
}

.timer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.start-button {
  background-color: #1db05f;
  margin-right: 25px;
}

.stop-button {
  background-color: #ef0d36;
  margin-right: 25px;
}

.reset-button {
  background-color: #eaa800;
}
